/* page.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 220px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-family: 'Passion One', sans-serif;
  line-height: 0.7;
}

.react {
  display: flex;
  align-items: center; /* Centraliza verticalmente o ícone e o texto */
}

.icon {
  font-size: 50px;
  margin-left: 30px;
  margin-top: 3px;
  vertical-align: middle;
  transition: transform 0.2s ease-in-out;
  color: #00008B;
}


.link {
  text-decoration: none; /* Remove o sublinhado do link */
  display: flex; /* Torna o link um elemento flex */
  align-items: center; /* Centraliza verticalmente o ícone e o texto dentro do link */
}

.developer {
  text-align: center; /* Mantém o "Developer" centralizado */
}

.link:hover .icon {
  transform: translateY(-9px);
  color: #5D8AA8;
}